



h1{
    font-family: 'Quicksand', sans-serif;
    color: rgba(2, 2, 88, 0.842);
}

h2{
    font-family: 'Quicksand', sans-serif;
    color: rgba(6, 6, 151, 0.842);
}

body{
    font-family: 'Quicksand', sans-serif;
}